<header class="mb-4">
  {{> logged-in-header}}
</header>

<div class="basic-page container-fluid">
  <div class="d-flex flex-row justify-content-between mb-4">
    <h3 class="pl-3">MY BLOG POSTS</h3>
    <button type="button" class="btn btn-dark btn-lg" onclick="goToCreatePostPage()">+ Create Post</button>
  </div>

  {{#each myPosts}}
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title">{{title}}</h3>
      <p class="card-text">{{content}}</p>
    </div>
    <div class="card-footer">
      <div class="d-flex flex-row justify-content-between">
        <small class="text-muted">posted on {{date}}</small>
        <div>
          <img class="clickable" src="/assets/images/icons8-trash-can-50.png" width="35" height="35">
          <a href="/edit-post?post_id={{id}}">
            <img class="clickable" src="/assets/images/icons8-edit-50.png" width="35" height="35">
          </a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

</div>
<script src="assets/js/global.js"></script>